<%= simple_form_for [current_user, conversation, message] do |f|%>
    <div class="field" style="padding-left: 10%">
      <%= f.label 'text' %><br>
      <%= f.input :content%>
    </div>
    <div class="field" style="padding-left: 10%">
      <%= f.hidden_field :sender_id, value: current_user.id %>
    </div>
    <div class="field" style="padding-left: 10%">
      <%= f.hidden_field :receiver_id, value: @conversation.partner_id %>
    </div>
    <div class="actions" style="padding-left: 10%">
      <%= f.submit %>
    </div>
<% end %>
