<h1>Editing <profile>                                                                                                                                                                                                                                                       </profile></h1>
<%= simple_form_for @user, :html => {:multipart => true} do |f| %>
      <%= f.input :firstname %>
      <%= f.input :lastname %>
      <%=f.input :gender, as: :select, collection: ['Male','Female'],prompt: "Choose your gender"%>
      <%= f.input :birthday, as: :date, start_year: Date.today.year - 90,
                  end_year: Date.today.year - 2,
                  order: [:day,:month, :year]%>
      <%= f.input :extra, :label=>"About me"%>
      <%= f.input :avatar %>
      <%= f.button :submit %>
<% end %>